.main-btn {
  width: 185px;
  letter-spacing: 1.5px;
  border-radius: 3px;
  margin-top: 1rem;
}
.btn:hover {
  opacity: 0.8;
}

body {
  background-color: rgb(240, 238, 238);
}

#plaid-button {
  position: center;
  text-align: center;
  border: 2px solid #4caf50; /* Green */
}
