.main-btn {
  width: 185px;
  height: 105px;
  letter-spacing: 1.5px;
  border-radius: 3px;
  margin-top: 1rem;
  padding: 15px;
  background-color: #4c9f70;
  color: white;
  font-size: 14px;
  position: center;
}
.btn:hover {
  opacity: 0.8;
}
.insightCont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  min-width: 300px;
  max-width: 600px;
  flex-grow: 1;
  padding-right: 10px;
}

.lrg {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15px;
  flex-wrap: wrap;
  margin-right: 25px;
  margin-left: 25px;

  background-color: #798598;
}
.btnThings {
  background-color: #4c9f70;
}
#plaidButton {
  background-color: #4c9f70;
}

#login {
  background-color: #4c9f70;
}

#loginTwo {
  background-color: #4c9f70;
}

#register {
  background-color: #4c9f70;
}

#registerTwo {
  background-color: #4c9f70;
}

.index {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 1;
  background-color: rgb(214, 214, 214);
}
body {
  background-color: rgb(214, 214, 214);
}

.main-button {
  padding: 30px;
}

#plaid-button {
  text-align: center;
  padding: 30px;
}

.description {
  font-size: 12px;
}

.donut {
  height: 25%;
  width: 25%;
}

.chart-container {
  position: relative;
}

.loading {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  color: #4c9f70;
  margin-top: 100px;
}

#insights-container {
  display: flex;
  flex-wrap: wrap;
  margin: 200px 350px 200px 100px;
  justify-content: space-around;
}

.insight-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
